{% extends 'base.html.twig' %}

{% block title %}app:Resources:Task:showAll{% endblock %}

{% block body %}    
    {% for task in tasks %}
        {{ include(':Task:show.html.twig', {'task': task} )}}
        <p></br></p>
    {% else %}
        <p>No tasks found</p>
    {% endfor %}
{% endblock %}


